.App {
  text-align: center;
  margin: 70px auto;
}
.cell {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 250px;
}
.Table{
  margin: 60px auto;
  width: 264px;
  border: 2px solid black;
}
.reset {
  margin-left: 650px;
}.tries {
   margin-left: 650px;

 }
.Button {
  color: red;
  border: 1px solid green;
  background: green;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.Button:hover {
  background: lightgreen;
  color: green;
}

.Button.Red {
  border: 1px solid red;
  background: red;
}

.Button.Red:hover {
  background: salmon;
  color: red;
}

